.wrap {
  text-align: center;
  padding: 24px;
}
img {
  max-width: 100%;
  display: block;
  margin: auto;
}
h1 {
  line-height: 1;
  margin-bottom: 24px;
}
p {
  color: rbga(black, .6);
  margin-bottom: 24px;
}
