<h1>ペットをつくる</h1>

<div>
  <swiper [config]="config" [(index)]="selectedPedId">
    <div *ngFor="let petId of petIds">
      <img src="assets/images/pet-{{petId}}.jpg" alt="">
    </div>
  </swiper>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <!-- 送信した時ngSubmit -->
  <!-- conponentのsubmit()を実行する。 -->
  <mat-form-field>
    <mat-label>名前</mat-label>
    <input formControlName="name" placeholder="テスト太郎" type="text" matInput autocomplete="off" required>
    <!-- comoponentのformと紐づける -->
    <!-- 自動で入力する機能autocomplete -->
  </mat-form-field>
  <br>
  <mat-radio-group formControlName="gender">
    <mat-radio-button value="male">♂</mat-radio-button>
    <mat-radio-button value="female">♀</mat-radio-button>
  </mat-radio-group>
  <br>
  <button [disabled]="form.invalid" mat-raised-button color="primary">つくる</button>
</form>
