.swiper-slide {
  opacity: 0.3;
}
img {
  max-width: 100%;
  display: block;
}
.swiper-slide-active{
  opacity: 1;
}
h1 {
  text-align: center;
  tab-size: 24px;
  margin: 40px;
}
.pager {
  text-align: center;
  span {
    margin: 4px;
  }
}

.swiper {
  margin-bottom: 40px;
}


.name-input {
  width: 100%;
}

.radio-group {
  margin-bottom: 32px;
  display: block;
  &__item {
    margin-right: 24px;
  }
}

.form-footer {
  text-align: center;
}
