<h1>ペットをつくる</h1>

<div class="swiper">
  <swiper [config]="config" [(index)]="selectedPedId">
    <div *ngFor="let petId of petIds">
      <img src="assets/images/pet-{{petId}}.jpg" alt="">
    </div>
  </swiper>
  <div class="pager"></div>
</div>

<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- 送信した時ngSubmit -->
    <!-- conponentのsubmit()を実行する。 -->
    <mat-form-field class="name-input" appearance="outline">
      <!-- formのoption appearance="outline" -->
      <mat-label>名前</mat-label>
      <input formControlName="name" placeholder="テスト太郎" type="text" matInput autocomplete="off" required>
      <!-- comoponentのformと紐づける -->
      <!-- 自動で入力する機能autocomplete -->
    </mat-form-field>
    <p class="label">性別</p>
    <mat-radio-group formControlName="gender" class="radio-group">
      <mat-radio-button class="radio-group__item" value="male">♂</mat-radio-button>
      <!-- BEM的に親要素__class名 -->
      <mat-radio-button class="radio-group__item" value="female">♀</mat-radio-button>
    </mat-radio-group>

    <div class="form-footer">
      <button [disabled]="form.invalid" mat-raised-button color="primary">つくる</button>
    </div>
  </form>
</div>